
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <section class="content-header">
            <h1>
                Settings
                <small>Control panel</small>
            </h1>
        </section>
        <br />
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Restricciones de Panel Solar</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="humedadRelativa">Humedad Relativa</label>
                            <input type="number" value="50" class="form-control" id="humedadRelativa" placeholder="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="idtemperatura">Temperatura CPU</label>
                            <input type="number" value="85" class="form-control" id="temperatura" placeholder="Temperatura" disabled>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

